@import url('https://fonts.googleapis.com/css?family=Quicksand|Sofia');

h1 {
	text-align: center;
	font-family: 'Sofia', cursive;
	font-weight: bold;
	font-size: 450%;
	color: #FF8966;
}

p {
	font-family: 'Quicksand', sans-serif;
	color: #3AA0A1;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}

li {
	font-family: 'Quicksand', sans-serif;
	color: #FF8966;
	text-align: center;
	font-size: 125%;
	list-style-type: none;
	font-weight: bold;
}


h2, h3, h4, h5, h6 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #E5446D;
}

body {
	background: url('../apps/one.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 12%;
    padding-bottom: 80px;
}
.col-md-6 {
	padding top: 10px;
}





